# Database Connection URL
# For PostgreSQL: postgresql://postgres:YOUR_PASSWORD@localhost:5432/guest_management_db?schema=public
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/guest_management_db?schema=public"

# Server Port
PORT=3000

# Node Environment (development | production | test)
NODE_ENV=development
